//Copy this file to Credentials.h and fill in the values
//Wifi
char ssid[] = "Your Wifi SSID";
char pass[] = "Your Wifi Password";

//MQTT
char mqttIP[] = "10.0.0.10";
char mqttID[] = "PlantWateringClient";
char mqttUser[] = "User";
char mqttPass[] = "Password";